DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=ems
POSTGRES_USER=ems
POSTGRES_PASSWORD=ems
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
TENANT_SSO_DOMAIN=schools.local
